*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  margin: 0;
  display: flex;
  justify-content: center;
  background: url('./assets/Clear.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}